@font-face {
	font-family: 'Roboto';
	src: url(/fonts/Roboto-Regular.woff2), url(/fonts/Roboto-Regular.woff);
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url(/fonts/Roboto-Medium.woff2), url(/fonts/Roboto-Medium.woff);
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url(/fonts/Roboto-Bold.woff2), url(/fonts/Roboto-Bold.woff);
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Merriweather';
	src: url(/fonts/Merriweather-Bold.woff2), url(/fonts/Merriweather-Bold.woff);
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Palanquin';
	src: url(/fonts/Palanquin-Regular.woff2), url(/fonts/Palanquin-Regular.woff);
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Philosopher';
	src: url(/fonts/Philosopher-Bold.woff2), url(/fonts/Philosopher-Bold.woff);
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}
