.main {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: #fff;
	background-image: url(/src/img/36.png);
	z-index: 2;
}

//Заголовки секций
.title {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: calc(40px + 20 * ((100vw -320px) / (1920-320)));
	color: #0e4427;
	text-transform: uppercase;
}

//Нумерация заголовков (большие цифры)
.number {
	font-family: 'Palanquin', sans-serif;
	font-size: calc(130px + 20 * ((100vw -320px) / (1920-320)));
	color: transparent;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: rgba(68, 166, 59, 0.5);
	z-index: 1;
}

.bot-text {
	font-weight: 500;
	letter-spacing: 1px;
	font-size: calc(14px + 2 * ((100vw -320px) / (1920-320)));
	text-transform: uppercase;
}

.line-sectons {
	background: rgba(1, 27, 13, 0.6);
	margin: 0 auto;
	display: block;
	right: 0;
	left: 1px;
	position: absolute;
	width: 1px;
	height: 110px;
	text-align: center;
	z-index: 1;
}

.btn {
	padding: 2vh 0;
	&__text {
		color: #0e4427;
		position: relative;
		padding: 5px;
	}

	&__text:after {
		display: block;
		position: absolute;
		left: 6px;
		width: calc(100% - 12px);
		height: 1px;
		background-color: #0e4427;
		content: '';
		-webkit-transition: width 0.3s ease-out;
		-o-transition: width 0.3s ease-out;
		transition: width 0.3s ease-out;
		bottom: 2px;
	}

	&__text:hover:after,
	&__text:focus:after {
		width: 0;
	}
}

.leaf {
	background-color: transparent;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	z-index: 1;
}

.logo {
	background: transparent;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

@media (max-width: 900px) {
	body.lock {
		overflow: hidden;
	}
}

.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: #f2f3f4;
}
.preloader__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader{
  width: 200px;
  height: 200px;
  margin: 50px auto;
  position: relative;
}
.loader .loader-inner{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.loader .loader-inner:before{
  content: "";
  display: block;
  width: 15%;
  height: 25%;
  border-radius: 100%;
  background: linear-gradient(to bottom, #66ff33 0%, #ff33cc 100%);;
  margin: 0 auto;
  animation: loading-1 1.2s infinite ease-in-out both;
}
.loader .box-2{ transform: rotate(30deg); }
.loader .box-3{ transform: rotate(60deg); }
.loader .box-4{ transform: rotate(90deg); }
.loader .box-5{ transform: rotate(120deg); }
.loader .box-6{ transform: rotate(150deg); }
.loader .box-7{ transform: rotate(180deg); }
.loader .box-8{ transform: rotate(210deg); }
.loader .box-9{ transform: rotate(240deg); }
.loader .box-10{ transform: rotate(270deg); }
.loader .box-11{ transform: rotate(300deg); }
.loader .box-12{ transform: rotate(330deg); }
.loader .box-2:before{ animation-delay: -1.1s; }
.loader .box-3:before{ animation-delay: -1s; }
.loader .box-4:before{ animation-delay: -0.9s; }
.loader .box-5:before{ animation-delay: -0.8s; }
.loader .box-6:before{ animation-delay: -0.7s; }
.loader .box-7:before{ animation-delay: -0.6s; }
.loader .box-8:before{ animation-delay: -0.5s; }
.loader .box-9:before{ animation-delay: -0.4s; }
.loader .box-10:before{ animation-delay: -0.3s; }
.loader .box-11:before{ animation-delay: -0.2s; }
.loader .box-12:before{ animation-delay: -0.1s; }
@keyframes loading-1{
   0%, 39%, 100%{ opacity: 0; }
   40%{ opacity: 1; }
}